/***************************************************************
* Style
* 
* This document focuses on the font styles in the site
* as well as common functions/styles
*
***************************************************************/

/* For hotfixes */
#hotfix
{
    text-align: center;
}

#hotfix h3
{
    color: rgb(122, 216, 208);
    padding: 0px;
    margin: 0px;
    font-size: 22px;
}

#hotfix p
{
    color: rgb(143, 177, 192);
    padding-bottom: 40px;
    margin: 0px;
}

/* Body */
html 
{
    font-size: 62.5%;
}

body 
{
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;

    
    min-width: 400px;
    margin: 0px auto;
}

/* background image */
html, .container, .inner {background-color: transparent;}
html
{
    background:url(background.jpg) center center no-repeat fixed;
    background-size: cover;
}



/* Body css */
.container
{
    max-width: 1300px;
    margin: 0px auto;
    border-style: none ridge;
    border-color:#2788b4;
    border-width: 5px;
}

header, footer, .container
{ 
    background: rgba(0,0,0,0.8); 
    padding:25px;
    color:#FFFFFF; 
}

/* Links */
a 
{
    font-weight: normal;
    text-decoration: none; 
    color:#19bcc2;
}

a:focus 
{
    outline:thin outset;
    outline-color: #5e27df;
}

small 
{
    font-size: 75%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 
{
    line-height: 1;  
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.0rem; padding-top: 12px; color:#00beff}
h3 { font-size: 2.2rem; color: #2e82ff} 
h4 { font-size: 1.8rem; color:#0095ff}
h5 { font-size: 1.5rem; }
h6 { font-size: 1.2rem; color:#6e6e6e;}

/* Paragraphs */
p 
{
    margin: -0.8em auto 1.5em auto;
}

/* Quotes & Blockquotes */
q 
{
    quotes: '\00201C' '\00201D';
}

q:before 
{
    content: open-quote;
}

q:after 
{
    content: close-quote;
}

blockquote 
{
    border-left: 2px solid #222222;
    margin: 1.6em 10%;
    padding: .75em 1em;
    font-size:1.8rem;
}

/* Utility Classes (currently not in use)*/
.hide 
{
    display:none;
}

.show 
{
    display:block;
}

/* Borders */
.border-line-bottom
{
    border-style: none none ridge none;
    border-color:#7727df;
    border-width: 1px;
}

.border-line-top
{
    border-style: ridge none none none;
    border-color:#7727df;
    border-width: 1px;
}

/* Scrollbar */
::-webkit-scrollbar /* Width */
{
    width: 14px;
}

::-webkit-scrollbar-track /* Track */
{
    background: #696969; 
}

::-webkit-scrollbar-thumb /* Handle */ 
{
    background: rgb(83, 65, 151); 
}

::-webkit-scrollbar-thumb:hover /* Handle on hover */
{
    background: rgb(46, 2, 150); 
}

/* Sidepanel */
.sidepanel
{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 300px;
    top: 53px;
    right: 25px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 12px;
    font-size: 25px;
}

.sidepanel a
{
    padding: 0px 8px 8px 14px;
    text-decoration: none;
    font-size: 20px;
    color: #a7afb8;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover
{
    color: #00ff22;
}

#nav-btn
{
    margin-right:20px;
    padding: 5px 20px 10px 20px;
    font-size:2.0rem;
    border: solid transparent 3px;
    background-color: transparent;
    color: #f1f1f1;
}

#nav-btn:hover
{
    background-color:#6c53f8;
}

/* Sections */
.section
{
    border-style: none none ridge none;
    border-color:#7727df;
    border-width: 1px;
    padding: 40px;
}

.first-section
{
    padding-top: 10px;
}

.last-section
{
    padding-bottom: 10px;
    border-width: 0px;
}

/* Content */
.content
{
    max-width: 1100px;
    margin: 0px auto;
    padding: 25px 20px;
    background: rgba(0,0,0,0.7);
}
  
.last-paragraph
{
    padding-top: 60px;
    color:#00ff22
}

/* Menu Links */
ul.main-menu 
{
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px 0px 5px 0px;
    list-style: none;
}

ul.main-menu li a 
{
    margin-right:20px;
    padding: 2px 5px;
    font-size:2.0rem;
    border-bottom: solid transparent 3px;
    color:#cfd2da;
}

ul.main-menu li a:hover 
{
    color:#FFFFFF;
}

ul.main-menu li a.active 
{
    color:#FFFFFF;
    border-bottom-color:#27c3df;
}

/* Header */
#header
{
    top: 0;
    left: 0;
    right: 0;
}

#head-img
{
    display:inline-block;
    width: 12%;
    min-width: 60px;
}

#head-img img
{
    float: right;
    max-width: 60px;
    max-height:fit-content;
    margin: 10px;
}

#head-title
{
    display:inline-block;
    vertical-align: top;
    margin-top: 20px;
    width: 49%;
}
  
/* Footer */
#footer
{
    bottom: 0;
    left: 0;
    right: 0;
}

#footer img
{
    max-height: 30px;
    max-width: fit-content;
}
  
#footer-nav
{
    color:#a7afb8;
    margin: 0 auto;
    padding-top: 1.3em;
    padding-bottom: 1.1em;
    text-align: center;
}

ul.footer-nav-list
{
    white-space: nowrap;
    justify-content: center;
    list-style: none;
}

ul.footer-nav-list li a 
{
    margin-right:20px;
    padding: 2px 5px;
    font-size:1.8rem;
    border-bottom: solid transparent 3px;
    color:#863fe2;
}
ul.footer-nav-list li a:hover 
{
    color:#c87cfc;
}

.footer-nav-item
{
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    position: relative
}

.copyright
{
    font-size:smaller;
    white-space: nowrap
}

/* Feedback Form */
#feedback a
{
    font-size: 20px;
    border-bottom: solid transparent 3px;
    color:#863fe2;
}

#feedback a:hover
{
    color:#c87cfc;
}

#feedback-form
{
    padding-top: 30px;
    text-align: center;
}

